<div class="card border-secondary mb-3" style="max-width: 25rem; margin-left: auto; margin-right: auto;">
  <h5 class="card-header text-center">SIGN UP</h5>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email" %>
        <% if resource.errors[:email].any? %>
          <div class="error-message" style="color: red; font-size: 0.8rem;">
            <%= resource.errors[:email].second %>
          </div>
        <% end %>
      </div>
      <div class="field form-group">
        <%= f.label :password %>
        <div style="color: grey; font-size: 0.8rem;">(must be at least 6 characters long and include at least one symbol, one number, and one uppercase letter)</div>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter Password" %>
        <% if resource.errors[:password].any? %>
          <div class="error-message" style="color: red; font-size: 0.8rem;">
            <%= resource.errors[:password].second %>
          </div>
        <% end %>
      </div>
      <div class="field form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
        <% if resource.errors[:password_confirmation].any? %>
          <div class="error-message" style="color: red; font-size: 0.8rem;">
            <%= resource.errors[:password_confirmation].second %>
          </div>
        <% elsif resource.errors[:password].any? %>
          <div class="error-message" style="color: red; font-size: 0.8rem;">
            Password and confirmation must match.
          </div>
        <% end %>
      </div>
      <br/>
      <div class="actions card text-center">
        <%= f.submit "SIGN UP", class: "btn btn-success" %>
      </div>
    <% end %>
    <br/>
    Already have an account? <%= render "devise/shared/links" %>
  </div>
</div>
