<div class="card text-bg-light mb-3" style=" max-width: 25rem; max-height:25rem">
  <div class="card-header">
    <h5 class="card-title"><%= friend.first_name %> <%= friend.last_name %></h5>
  </div>
  <div class="card-body" id="<%= dom_id friend %>>
    <p class="card-text">
      <strong>Email:</strong>
      <%= friend.email %>
    </p>
    <p class="card-text">
      <strong>Phone:</strong>
      <%= friend.phone %>
    </p>
    <p class="card-text">
      <strong>Twitter:</strong>
      <%= friend.twitter %>
    </p>
  </div>
</div>
