<div class="card border-secondary mb-3" style="max-width: 25rem; margin-left: auto; margin-right: auto;">
  <h5 class="card-header text-center">LOG IN</h5>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Enter Email" %>
      </div>
      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Enter Password" %>
      </div>
      <br/>
      <div class="actions card text-center">
        <%= f.submit "LOG IN", class:"btn btn-primary" %>
      </div>
    <% end %>
    <br/>
    Don't have an account?<%= render "devise/shared/links" %>
  </div>
</div>
